

/* CUSTOM --------------------------------------------------------------------*/


section#content {
  padding-bottom: 100px;
}

.project {
  margin-bottom: 30px;
}
#other-ptojects ul li {
  list-style: none;
  text-align: right;
  font-style: italic;
  font-size: 14px;
  line-height: 22px;
}
