<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="links">
        <ul>
          <li>
            <a href="#php">PHP</a>
          </li>
          <li>
            <a href="#javascript">JavaScript</a>
          </li>
          <li>
            <a href="#database">Database</a>
          </li>
          <li>
            <a href="#front-end">Front End</a>
          </li>
          <li>
            <a href="#cms">Content Management</a>
          </li>
          <li>
            <a href="#static">Static Sites</a>
          </li>
          <li>
            <a href="#code">Code Editing and Management</a>
          </li>
          <li>
            <a href="#os">Operating Systems</a>
          </li>
          <li>
            <a href="#misc">Miscellaneous</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div id="php">
        <h3 class="first">PHP</h3>
          <a href="https://secure.php.net/" target="_blank">PHP</a><br>
          <a href="http://laravel.com/" target="_blank">Laravel Framework</a><br>
          <a href="http://www.yiiframework.com/" target="_blank">YII Framework</a><br>
          <a href="https://www.drupal.org/" target="_blank">Drupal Module Coding</a><br>
          <a href="https://wordpress.org/" target="_blank">WordPress Module Coding</a><br>
      </div>

      <div id="javascript">
        <h3>JavaScript</h3>
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">JavaScript 5 and 6</a><br>
          <a href="https://jquery.com/" target="_blank">jQuery</a><br>
          <a href="http://vuejs.org/" target="_blank">Vue.js</a><br>
          <a href="https://facebook.github.io/react/" target="_blank">React</a><br>
          <a href="https://nodejs.org/en/" target="_blank">Node.js</a><br>
          <a href="https://www.npmjs.com/" target="_blank">Node Package Manager</a><br>
          <a href="http://expressjs.com/" target="_blank">Express</a><br>
          <a href="https://developer.mozilla.org/en-US/docs/AJAX" target="_blank">Ajax</a><br>
      </div>

      <div id="database">
        <h3>Database</h3>
          <a href="https://en.wikipedia.org/wiki/SQL" target="_blank">SQL</a><br>
          <a href="https://www.mysql.com/" target="_blank">MySQL</a><br>
          <a href="https://www.phpmyadmin.net/" target="_blank">phpMyAdmin</a><br>
          <a href="http://www.microsoft.com/en-us/" target="_blank">MS Access</a><br>
      </div>

      <div id="front-end">
        <h3>Front End</h3>
          <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">HTML</a><br>
          <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">CSS</a><br>
          <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a><br>
          <a href="http://foundation.zurb.com/" target="_blank">Foundation</a><br>
          <a href="http://sass-lang.com/" target="_blank">SASS</a><br>
          <a href="https://developers.google.com/web/fundamentals/design-and-ui/responsive/fundamentals/?hl=en" target="_blank">Responsive Design</a><br>
          <a href="http://gulpjs.com/" target="_blank">Gulp</a><br>
          <a href="http://mincss.com/" target="_blank">Min</a><br>
          <a href="http://purecss.io/" target="_blank">Pure</a><br>
      </div>

      <div id="cms">
        <h3>Content Management</h3>
          <a href="https://www.drupal.org/" target="_blank">Drupal</a><br>
          <a href="https://wordpress.org/" target="_blank">WordPress</a><br>
          <a href="https://www.joomla.org/" target="_blank">Joomla</a><br>
      </div>

      <div id="static">
        <h3>Static Sites</h3>
          <a href="http://harpjs.com/" target="_blank">Harp</a><br>
          <a href="http://jekyllrb.com/" target="_blank">Jekyll</a><br>
      </div>

      <div id="code">
        <h3>Code Editing and Management</h3>
          <a href="https://git-scm.com/" target="_blank">Git</a><br>
          <a href="https://github.com/" target="_blank">GitHub</a><br>
          <a href="https://atom.io/" target="_blank">Atom</a><br>
          <a href="https://netbeans.org/" target="_blank">Netbeans</a><br>
          <a href="https://eclipse.org/" target="_blank">Eclipse</a><br>
          <a href="https://notepad-plus-plus.org/" target="_blank">Notepad++</a><br>
          <a href="https://daringfireball.net/projects/markdown/" target="_blank">Markdown</a><br>
          <a href="https://developer.chrome.com/devtools" target="_blank">Chrome Developer Tools</a><br>
      </div>

      <div id="os">
        <h3>Operating Systems</h3>
          <a href="https://www.linux.com/" target="_blank">Linux</a><br>
          <a href="http://www.redhat.com/en" target="_blank">Red Hat</a><br>
          <a href="https://www.centos.org/" target="_blank">CentOs</a><br>
          <a href="http://www.ubuntu.com/" target="_blank">Ubuntu</a><br>
          <a href="http://www.microsoft.com/en-us/" target="_blank">Windows</a><br>
      </div>

      <div id="misc">
        <h3>Miscellaneous</h3>
          <a href="http://www.microsoft.com/en-us/" target="_blank">Microsoft Office</a><br>
          <a href="https://www.adobe.com/" target="_blank">Photoshop</a><br>
          <a href="https://www.adobe.com/" target="_blank">Acrobat Pro</a><br>
      </div>

    </div>
  </div>
</div>
