<div class="container">
  <div id="other-ptojects">
    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <h4>Information Literacy</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul class="skills">
            <li>Responsive Design &#x25CF; Drupal</li>
            <li>HTML &#x25CF; Sass &#x25CF; CSS</li>
            <li><a href="http://library.uncw.edu" target="_blank">View the Project</a></li>
          </ul>
        </div>
        <div class="col-md-8 col-md-offset-1">
          <p>
            <strong>Information Literacy</strong> is the ability to locate,
            evaluate, and use information effectively.  This site was created
            to help students, faculty, and librarians learn these skills.
            My contribution was to modify the theme to create Randall
            Library's first responsive website.
          </p>
        </div>
      </div>
    </div>

    <div class="project">
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <h4>Best Bets</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul class="skills">
            <li>PHP &#x25CF; Yii Framework</li>
            <li>Bootstrap Framework</li>
            <li>HTML &#x25CF; CSS &#x25CF; MySQL</li>
          </ul>
        </div>
        <div class="col-md-8 col-md-offset-1">
          <p>
            <strong>Best Bets</strong> is a data entry app that allows
            library staff to key in popular terms and resources that
            are often searched for by students.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
