<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="../images/pace231.gif" class="img-responsive img-blue" alt="Pace 131 analog computer">
      <br><br>
    </div>

    <div class="col-md-7 col-md-offset-1">
      <a href="https://www.youtube.com/watch?v=Ouxj5ZFg_BM" target="_blank">Evolution's End</a> - Peter Russell<br>
      <a href="http://www.larryullman.com/2012/12/19/how-to-become-a-web-developer-resources/?utm_source=feedburner&utm_medium=twitter&utm_campaign=Feed%3A+larryullman%2FbMsj+%28Larry+Ullman%29&utm_content=FaceBook" target="_blank">How to Become a Web Developer</a> - Larry Ullman<br>
      <a href="https://www.youtube.com/watch?v=wtrF5C7Gv7E&index=9&list=PLMdXHJK-lGoA9SIsuFy0UWL8PZD1G3YFZ" target="_blank">Impostor Syndrome and Individual Competence</a> - Jessica Rose<br>
      <a href="https://www.youtube.com/watch?v=0DFh5n8VeBo" target="_blank">Stronger Than Fear: Mental Health in the Developer Community</a> - Ed Finkler<br>
      <a href="http://www.bloomberg.com/graphics/2015-paul-ford-what-is-code/" target="_blank">What Is Code?</a> - Paul Ford<br>
      <a href="https://m.signalvnoise.com/why-i-work-remotely-hint-it-has-nothing-to-do-with-productivity-34ace30f74fc#.5sl95yot8" target="_blank">Why I Work Remotely</a> - Jason Zimdars<br>
      <a href="http://joearms.github.io/2014/02/07/why-programming-is-difficult.html" target="_blank">Why Programming Is Difficult</a> - Joe Armstrong<br>
      <br>
      <p><em>Image source: <a href="http://www.computerhistory.org/collections/catalog/102646219">Computer History Museum</a></em></p>
    </div>

  </div>
</div>


<!--
<a href="XXXXX" target="_blank">XXXXX</a> - XXXXXX<br>

<a href="XXXXX" target="_blank">XXXXX</a><br>
-->
