<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="../images/pace231.gif" class="img-responsive img-blue" alt="Pace 131 analog computer">
      <br><br>
    </div>

    <div class="col-md-7 col-md-offset-1">
      <a href="https://daneden.github.io/animate.css/" target="_blank">Animate.css</a> - animation<br>
      <a href="http://carbon.nesbot.com/" target="_blank">Carbon</a> - dates<br>
      <a href="http://www.chartjs.org/" target="_blank">Chart.js</a> - charts and graphs<br>
      <a href="http://www.dropzonejs.com/" target="_blank">DropzoneJS</a> - drag’n’drop file uploads with image previews<br>
      <a href="http://foundation.zurb.com/" target="_blank">Foundation</a> - front-end framework<br>
      <a href="http://image.intervention.io/" target="_blank">Intervention Image</a> - image handling and manipulation<br>
      <a href="http://raveren.github.io/kint/" target="_blank">Kint</a> - PHP Debugging Helper<br>
      <a href="http://plugins.krajee.com/" target="_blank">Krajee</a> - jQuery widget plugins for Bootstrap<br>
      <a href="http://lavacharts.com/" target="_blank">Lavacharts</a> - charts and graphs for PHP bassed on the Google Chart API<br>
      <a href="http://mern.io/" target="_blank">MERN</a> - MongoDB, Express, React, and Node scaffolding tool<br>
      <a href="http://mincss.com/index.html" target="_blank">Min</a> - minimal CSS framework<br>
      <a href="https://github.com/PHPMailer/PHPMailer" target="_blank">PHPMailer</a> - email sending library<br>
      <a href="https://phpunit.de/" target="_blank">PHPUnit</a> - testing framework<br>
      <a href="https://github.com/PHPOffice/PHPWord" target="_blank">PHPWord</a> - create Word docs from PHP<br>
      <a href="https://phpword.readthedocs.org/en/latest/index.html" target="_blank">PHPWord Documentation</a><br>
      <a href="http://purecss.io/" target="_blank">Pure</a> - CSS framework<br>
      <a href="http://www.seleniumhq.org/projects/remote-control/" target="_blank">Selenium</a> - write automated web application UI tests<br>
      <a href="https://github.com/nuovo/spreadsheet-reader" target="_blank">spreadsheet-reader</a> - PHP spreadsheet reader<br>
      <a href="http://statetable.com/" target="_blank">statetable.com</a> - table of states and provinces<br>
      <a href="http://timeline.knightlab.com/" target="_blank">Timeline.js</a> - timeline builder<br>
      <a href="http://fengyuanchen.github.io/viewerjs/" target="_blank">Viewer.js</a> - image viewer<br>
      <br>
      <p><em>Image source: <a href="http://www.computerhistory.org/collections/catalog/102646219">Computer History Museum</a></em></p>
    </div>

  </div>
</div>


<!--
<a href="XXXXX" target="_blank">XXXXX</a> - XXXXXX<br>

<a href="XXXXX" target="_blank">XXXXX</a><br>
-->
