<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a href="https://24ways.org/" target="_blank">24 Ways</a><br>
      <a href="http://alistapart.com/" target="_blank">A List Apart</a><br>
      <a href="http://5by5.tv/bigwebshow" target="_blank">Big Web Show</a><br>
      <a href="https://codyhouse.co/" target="_blank">Cody House</a><br>
      <a href="http://www.creativebloq.com/net-magazine" target="_blank">Creative Bloq</a><br>
      
      <a href="https://www.designernews.co/" target="_blank">Designer News</a><br>
      <a href="http://frontendfront.com/" target="_blank">Front End Front</a><br>
      <a href="https://news.ycombinator.com/" target="_blank">Hacker News</a><br>
      <a href="http://html5weekly.com/" target="_blank">HTML5 Weekly</a><br>
      <a href="http://javascriptweekly.com/issues" target="_blank">JavaScript Weekly</a><br>
      <a href="https://laravel-news.com/archive/" target="_blank">Laravel News</a><br>
      <a href="http://www.phpweekly.com/archive.html" target="_blank">PHP Weekly</a><br>

    </div>
    <div class="col-md-6">
      <a href="https://www.getrevue.co/profile/the-react-digest" target="_blank">React Digest</a><br>
      <a href="https://www.reddit.com/r/webdev" target="_blank">Reddit web developers</a><br>
      <a href="http://us7.campaign-archive1.com/home/?u=b4a4054cce715a3b0ae5e7d35&id=f7c505323d" target="_blank">Sass News</a><br>
      <a href="https://scotch.io/" target="_blank">Scotch Tutorials</a><br>
      <a href="http://www.sitepoint.com/" target="_blank">Sitepoint</a><br>
      <a href="https://www.sitepoint.com/versioning" target="_blank">Sitepoint Versioning</a><br>
      <a href="http://www.smashingmagazine.com/" target="_blank">Smashing Magazine</a><br>
      <a href="http://speckyboy.com/" target="_blank">Speckyboy</a><br>
      <a href="https://web-design-weekly.com/" target="_blank">Web Design Weekly</a><br>
      <a href="https://wdrl.info/archive" target="_blank">Web Development Reading List</a><br>
      <a href="http://webfieldmanual.com/" target="_blank">Web Field Manual</a><br>
      <a href="http://us5.campaign-archive2.com/home/?u=ea228d7061e8bbfa8639666ad&id=104d6bcc2d" target="_blank">Web Tools Weekly</a><br>
    </div>
  </div>
</div>






<!--
<a href="XXXXX" target="_blank">XXXXX</a><br>
-->
