<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a href="http://ankisrs.net/" target="_blank">Anki</a> - flash cards<br>
      <a href="https://asana.com" target="_blank">Asana</a> - project management<br>
      <a href="https://atom.io/" target="_blank">Atom</a> - text editor<br>
      <a href="http://www.timeanddate.com/calendar/" target="_blank">Calendar</a><br>
      <a href="http://checkgzipcompression.com/" target="_blank">Check GZIP compression</a><br>
      <a href="http://codepen.io/" target="_blank">CodePen</a><br>
      <a href="https://www.google.com/analytics/" target="_blank">Google Analytics</a><br>
      <a href="http://jsbin.com/?html,js,output" target="_blank">JS Bin</a><br>
      <a href="http://jsfiddle.net/" target="_blank">JS Fiddle</a><br>
      <a href="http://daringfireball.net/projects/markdown/" target="_blank">Markdown</a> - text to HTML conversion<br>
      <a href="https://www.mindmup.com/" target="_blank">MindMup</a> - mind mapping<br>
      <a href="https://onedrive.live.com/about/en-us/" target="_blank">OneDrive</a><br>
      <a href="https://www.openshift.com/" target="_blank">OpenShift</a><br>
      <a href="http://www.pgadmin.org/" target="_blank">pgAdmin</a> - PostgreSQL database management<br>
      <a href="http://responsivepx.com/" target="_blank">responsivepx</a> - Find that tricky breakpoint<br>
      <a href="http://www.ldapbrowser.com/" target="_blank">Softerra LDAP Administrator</a> - LDAP database viewing<br>
      <a href="http://www.2brightsparks.com/freeware/freeware-hub.html" target="_blank">SyncBack</a> - backup software<br>
      <a href="http://www.onlineconversion.com/unix_time.htm" target="_blank">Unix Time Conversion</a><br>
      <a href="XXXXX" target="_blank">WAVE</a> - web accessibility evaluation tool<br>
      <a href="http://www.wingrep.com/" target="_blank">Windows Grep</a> - file finding utility<br>
      <a href="http://winmerge.org/" target="_blank">WinMerge</a> - file compare utility<br>
    </div>
  </div>
</div>






<!--
<a href="XXXXX" target="_blank">XXXXX</a> - XXXXXX<br>
-->
