<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a href="https://asana.com" target="_blank">Asana</a> - project management<br>
      <a href="https://atom.io/" target="_blank">Atom</a> - text editor<br>
      <a href="http://checkgzipcompression.com/" target="_blank">Check GZIP compression</a><br>
      <a href="http://daringfireball.net/projects/markdown/" target="_blank">Markdown</a> - text to HTML conversion<br>
      <a href="http://www.pgadmin.org/" target="_blank">pgAdmin</a> - PostgreSQL database management<br>
      <a href="http://www.ldapbrowser.com/" target="_blank">Softerra LDAP Administrator</a> - LDAP database viewing<br>
      <a href="http://www.wingrep.com/" target="_blank">Windows Grep</a> - file finding utility<br>
      <a href="http://winmerge.org/" target="_blank">WinMerge</a> - file compare utility<br>
    </div>
  </div>
</div>






<!--
<a href="XXXXX" target="_blank">XXXXX</a> - XXXXXX<br>
-->
