<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="../images/Univac9060.gif" class="img-responsive img-blue" alt="Sperry Univac 90/60 mainframe computer">
      <br><br>
    </div>

    <div class="col-md-7 col-md-offset-1">
      <a href="http://chromerestclient.appspot.com/" target="_blank">Advanced REST Client</a> - create and test custom HTTP requests<br>
      <a href="http://ankisrs.net/" target="_blank">Anki</a> - flash cards<br>
      <a href="https://asana.com" target="_blank">Asana</a> - project management<br>
      <a href="https://atom.io/" target="_blank">Atom</a> - text editor<br>
      <a href="https://bitbucket.org/" target="_blank">Bitbucket</a> - git repositories<br>
      <a href="http://www.timeanddate.com/calendar/" target="_blank">Calendar</a><br>
      <a href="http://checkgzipcompression.com/" target="_blank">Check GZIP compression</a><br>
      <a href="http://codepen.io/" target="_blank">CodePen</a><br>
      <a href="http://www.telerik.com/fiddler" target="_blank">Fiddler</a> - web traffic debugging<br>
      <a href="https://github.com/" target="_blank">GitHub</a><br>
      <a href="https://about.gitlab.com/" target="_blank">GitLab</a><br>
      <a href="https://www.google.com/analytics/" target="_blank">Google Analytics</a><br>
      <a href="http://jsbin.com/?html,js,output" target="_blank">JS Bin</a><br>
      <a href="http://jsfiddle.net/" target="_blank">JS Fiddle</a><br>
      <a href="https://github.com/jsdelivr/jsdelivr" target="_blank">jsDeliver</a> - free and open source CDN<br>
      <a href="http://raveren.github.io/kint/" target="_blank">Kint</a> - PHP Debugging Helper<br>
      <a href="https://kraken.io/" target="_blank">Kraken</a> - image optimizer<br>
      <a href="https://letsencrypt.org/" target="_blank">Let's Encrypt</a> - free certificate authority <br>
      <a href="http://daringfireball.net/projects/markdown/" target="_blank">Markdown</a> - text to HTML conversion<br>
      <a href="https://www.mindmup.com/" target="_blank">MindMup</a> - mind mapping<br>
      <a href="https://www.mysql.com/products/workbench/" target="_blank">MySQL Workbench</a> - data migration<br>
      <a href="https://notepad-plus-plus.org/" target="_blank">Notepad++</a> - text editor<br>
      <a href="https://onedrive.live.com/about/en-us/" target="_blank">OneDrive</a><br>
      <a href="https://www.openshift.com/" target="_blank">OpenShift</a><br>
      <a href="http://pancakehttp.net/" target="_blank">Pancake</a> - web server<br>
      <a href="http://www.pgadmin.org/" target="_blank">pgAdmin</a> - PostgreSQL database management<br>
      <a href="https://github.com/squizlabs/PHP_CodeSniffer" target="_blank">PHP CodeSniffer</a> - detects violation of coding standards<br>
      <a href="http://www.phpdoc.org/" target="_blank">phpDocumentor</a> - creates documentation from source code<br>
      <a href="https://github.com/PHPMailer/PHPMailer" target="_blank">PHPMailer</a> - email sending library<br>
      <a href="https://www.phpmyadmin.net/" target="_blank">phpMyAdmin</a> - MySQL administration<br>
      <a href="https://phpunit.de/" target="_blank">PHPUnit</a> - testing framework<br>
      <a href="https://www.getpostman.com/" target="_blank">Postman</a> - test HTTP requests and APIs<br>
      <a href="http://regexr.com/" target="_blank">RegExr</a> - regular expression builder / tester<br>
      <a href="http://responsivepx.com/" target="_blank">responsivepx</a> - Find that tricky breakpoint<br>
      <a href="http://luci.criosweb.ro/riot/" target="_blank">RIOT</a> - image optimizing<br>
      <a href="http://www.seleniumhq.org/projects/remote-control/" target="_blank">Selenium</a> - write automated web application UI tests<br>
      <a href="http://www.ldapbrowser.com/" target="_blank">Softerra LDAP Administrator</a> - LDAP database viewing<br>
      <a href="https://github.com/nuovo/spreadsheet-reader" target="_blank">spreadsheet-reader]</a> - PHP spreadsheet reader<br>
      <a href="http://statetable.com/" target="_blank">statetable.com</a> - Table of states and provinces<br>
      <a href="http://www.2brightsparks.com/freeware/freeware-hub.html" target="_blank">SyncBack</a> - backup software<br>
      <a href="http://timeline.knightlab.com/" target="_blank">Timeline.js</a> - timeline builder<br>
      <a href="http://www.onlineconversion.com/unix_time.htm" target="_blank">Unix Time Conversion</a><br>
      <a href="https://www.visualstudio.com/en-us/products/visual-studio-community-vs.aspx" target="_blank">Visual Studio</a> - community edition<br>
      <a href="http://wave.webaim.org/" target="_blank">WAVE</a> - web accessibility evaluation tool<br>
      <a href="http://www.wingrep.com/" target="_blank">Windows Grep</a> - file finding utility<br>
      <a href="http://winmerge.org/" target="_blank">WinMerge</a> - file compare utility<br>
      <br>
      <p><em>Image source: <a href="https://en.wikipedia.org/wiki/UNIVAC_Series_90#/media/File:Univac9060.jpg">Wikipedia</a></em></p>
    </div>

  </div>
</div>


<!--
coding / performance / page optimization
<a href="XXXXX" target="_blank">XXXXX</a> - XXXXXX<br>
-->
