<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="../images/pace231.gif" class="img-responsive img-blue" alt="Pace 131 analog computer">
      <br><br>
    </div>

    <div class="col-md-7 col-md-offset-1">
      <a href="https://github.com/vuejs/vue/wiki/1.0.0-binding-syntax-cheatsheet" target="_blank">binding syntax</a> - cheatsheet<br>
      <a href="https://laracasts.com/series/learning-vue-step-by-step" target="_blank">Laracasts</a> - Vue Step by Step series<br>
      <a href="https://github.com/vuejs/awesome-vue" target="_blank">Resources</a> - GitHub awesome list<br>
      <a href="https://twitter.com/vuejs" target="_blank">Twitter</a> - Vue.js<br>
      <a href="http://vuejs.org/api/" target="_blank">Vue API</a><br>
      <a href="http://vuejs.org/guide/" target="_blank">Vue Guide</a><br>



      <h3>Articles and Presentations</h3>
      <a href="https://auth0.com/docs/quickstart/spa/vuejs/no-api" target="_blank">Auth0 and Vue.js</a><br>
      <a href="http://heucke.io/web-dev/" target="_blank">The Beginner's Guide to Front End Web Development with Vue</a><br>
      <a href="https://scotch.io/tutorials/build-an-app-with-vue-js-a-lightweight-alternative-to-angularjs" target="_blank">
        Build an App with Vue.js</a> - Scotch.io<br>
      <a href="http://taha-sh.com/blog/the-ridiculously-easy-way-to-animate-your-applications-with-vuejs" target="_blank">
        The Ridiculously Easy Way to Animate Your Applications With VueJS</a> - Taha Shashtari<br>
      <a href="http://coligo.io/vuejs-the-basics/" target="_blank">VueJs: The Basics</a><br>
      <a href="http://skyronic.com/2016/01/03/vuex-basics-tutorial/" target="_blank">Vuex basics</a> - Anirudh Sanjeev<br>

      <h3>News and Blogs</h3>
      <a href="http://taha-sh.com/" target="_blank">Taha Shashtari</a><br>
      <a href="https://twitter.com/vuejs" target="_blank">Twitter</a> - Vue.js<br>

      <h3>Code Libraries</h3>
      <a href="http://gritcode.github.io/gritcode-components/" target="_blank">Gritcode components</a> - file upload, wizard, offcanvas drawer, others<br>
      <a href="http://yuche.github.io/vue-strap/" target="_blank">VueStrap</a> - Bootstrap components built with Vue<br>



      <br>
      <p><em>Image source: <a href="http://www.computerhistory.org/collections/catalog/102646219">Computer History Museum</a></em></p>
    </div>

  </div>
</div>


<!--
<a href="XXXXX" target="_blank">XXXXX</a> - XXXXXX<br>

<a href="XXXXX" target="_blank">XXXXX</a><br>
-->
