<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="resource">
      <a href="https://www.marcozehe.de/2015/12/14/the-web-accessibility-basics/" target="_blank">
        Web accessibility basics</a><br><br>
        <p>I’ve been asked again and again over the years what the absolute
          basics of web accessibility are. And while I always thought that it is
          not so difficult to find resources about these basics, the recurrence
          of that question prompted me to finally write my own take on this
          topic. So here it is, my list of absolute web accessibility basics
          every web developer should know about.  </p>
        </p>
    </div>

    <div class="resource">
    <a href="https://www.paciellogroup.com/resources/contrastanalyser/" target="_blank">
      Colour Contrast Analyser</a><br><br>
      <p>The Colour Contrast Analyser (CCA) helps you determine the legibility
        of text and the contrast of visual elements, such as graphical controls
        and visual indicators. </p>
      </p>
  </div>
  </div>
</div>
