<div class="container">
    <a href="../pdfs/atom-editor-cheat-sheet.pdf">
      <img src="https://dbd6j53uzcole.cloudfront.net/assets/images/blog/atom-cheat-sheet.62e1e2a9.png"
      class="img-responsive" alt="atom editor cheat sheet">
    </a>
  <br>
  Credit:  <a href="https://bugsnag.com/blog/atom-editor-cheat-sheet" target="_blank">Bugsnag</a>
</div>

<!--
<div id="xxxxx">
  <h3>xxxxx</h3>
  <a href="xxxxxx" target="_blank">xxxxxx</a><br>
  <a href="xxxxxx" target="_blank">xxxxxx</a><br>
  <a href="xxxxxx" target="_blank">xxxxxx</a><br>
  <a href="xxxxxx" target="_blank">xxxxxx</a><br>
  <a href="xxxxxx" target="_blank">xxxxxx</a><br>
</div>
-->
