<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="links">
        <ul>
          <li>
            <a href="#apache">Apache</a>
          </li>
          <li>
            <a href="xxxxx">xxxxx</a>
          </li>
          <li>
            <a href="xxxxx">xxxxx</a>
          </li>
          <li>
            <a href="xxxxx">xxxxx</a>
          </li>
          <li>
            <a href="xxxxx">xxxxx</a>
          </li>
          <li>
            <a href="xxxxx">xxxxx</a>
          </li>
          <li>
            <a href="xxxxx">xxxxx</a>
          </li>
          <li>
            <a href="xxxxx">xxxxx</a>
          </li>
          <li>
            <a href="xxxxx">xxxxx</a>
          </li>
          <li>
            <a href="xxxxx">xxxxx</a>
          </li>
          <li>
            <a href="xxxxx">xxxxx</a>
          </li>
          <li>
            <a href="xxxxx">xxxxx</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div id="apache">
        <h3 class="first">Apache</h3>
        <ul>
          <li><a href="https://github.com/phanan/htaccess" target="_blank">.htaccess Snippets</a></li>
        </ul>
      </div>

      <div id="xxxxx">
        <h3>xxxxx</h3>
      </div>


    </div>
  </div>
</div>
