<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a href="https://gist.github.com/octocat/9257657" target="_blank">.gitignore configuration</a><br>
      <a href="https://github.com/phanan/htaccess" target="_blank">.htaccess snippets</a><br>
      <a href="http://www.robotstxt.org/" target="_blank">robots.txt</a><br>
    </div>
  </div>
</div>
